*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;

}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color:#434455; 
  line-height: 1.6;
  font-size: 16px;
  list-style-type: none;
  background-color: #FFFFFF;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
}

h1 h2 h3 h4 h5 h6 p ul {
  margin: 0;
}

.header-nav .logotype {
font-family: "Raleway", sans-serif;
font-weight: 700;
color: #4D5AE5;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
display: flex;
width: 115px;
height: 24px;
gap: 0px;

}

.logotype .lastsixletters {
  color: #2E2F42;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 261px;
  height: 24px;
  margin-left: 76px;
  
}

.nav-links a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style:normal;
    color:#2E2F42;
    padding: 24px 0px;
}

.nav-links a:hover,
.nav-links a:focus 
 {
  color: #404BBF;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 
}

.nav-links .link-studio:active::after {
  text-decoration: underline;
}

.nav-links .link-studio {
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.address {
  display: flex;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
  
}

.address a {
color: #434455;
}

address a:hover,
address a:focus {
color: #404BBF;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
} 

.section-one .section-one-button {
  display: block;  
  color: #ffffff;
  background-color: #4D5AE5;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  
  }
  
.section-one .container .section-one-button:focus,
.section-one .container .section-one-button:hover
   {
    background-color: #404BBF;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  
  h1, h2 {
    text-align: center;
  }
  
.section-one {
    display: flex;
    flex-direction: column;
    background-color: #2E2F42;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    gap: 10px; 
    padding: 188px 0px;
    background-image: url(../images-hw/Dark-bg.png), url(https://s3-alpha-sig.figma.com/img/7c8d/46d4/7e83b6c8ee4603ea892aa8aaebb3c5fe?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AsdIZLR88JpFb7PzFDC4qpQRDisi5SQN0baQAfiwEhgP~aLj5PS3DiWW1oQjCDavdQ5uWPP0Vu1PoJvTAtV0EBwfl66pWRI8IWdoTvykFOkUMH6iYsYInFDOLs~c437twaN75uG4tnVTyKmhoYefTi1ygiQ2naIbfgK8aS4X3lpi9Y~uoMvuQ7NZ0MGu6AN9norUSxGowISt2X2LOk5a1KVJ40H-8r2teWneT4UnHMNfb1yexcRaC1Mhg4rMLN~r7OQhD7VpzZpUPU7rew-RRS9lmobkyXfqtHo7HgSgBH3SBe1JbPxKMYQeCk8ozm63JDDwrslo~0n7yIDc7CWTtQ__);
    background-repeat: no-repeat;
    background-size: 1440px 600px
     

}
  
  .header-first {
    display: flex;
    flex-direction: row;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    height: 120px;
    margin: 0 auto;
    align-items: center;
    max-width: 496px;
    
    }
    
.section-two {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 120px 0px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two .section-two-ul .header-third {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
width: 264px;
height: 24px;
justify-content: center;
margin-bottom: 8px;

}

.section-two .section-two-li .section-two-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  font-size: 16px;
  width: 264px;
  height: 72px;
  gap: 24px;
}

.section-two .section-two-ul {
  display: flex;
  flex-direction: row;
  margin: 120px 0px;
  margin-right: 24px;
  gap: 24px;
  justify-content: space-between;
 
}

.section-two-ul:last-child {
  margin-right: 0;
}

.section-two-li {
flex-basis: calc((100% - 72px) / 4);
}


.ourteam {
  background-color: #F4F4FD;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 120px 0px;

}

.ourteam img {
  display: block;

}

.ourteamlist >li {
  background-color: #FFFFFF;

}

.ourteam .ourteamlist {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
    
}

.team-members {
  width: 264px;
  height: 428px;
  padding: 0px 0px 32px 0px;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  
}

.ourteam-h-p {
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 104px;
  gap: 8px;
  justify-content:center;
  align-items:center;
  margin: 32px 16px 32px 16px;
  padding: 32px 0px;
    
}

.ourteam .container .header-section-three {
display: flex;
flex-direction:row;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
height: 40px;
flex-wrap: nowrap;
justify-content: center;

}


.ourteam .ourteamlist .header-team {
  font-weight: 500;
  font-size:  20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.ourteam .ourteamlist .section-two-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.ourportfolio {
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
  margin: 0 auto;
  gap: 8px;
  
}


.ourportfolio img {
  display: block;
  width: 100%;
}

.ourportfolio .our-portfolio-ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 1128px;  
  justify-content:space-around;
  align-items: center;
  margin-top: 72px;
  margin-right: 24px;
  margin-bottom: 0;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;

}

.ourportfolio .our-portfolio-ul:first-child {
  width: calc((100% - 48px) / 3);
}


.ourportfolio .our-portfolio-ul:last-child {
  margin-right: 0px;
}

.ourportfolio .our-portfolio-card {
width: 360px;
height: 120px;
gap: 8px;
border: 1px solid #e7e9fc;
padding: 32px 16px; 
border-top: none;
}

.our-portfolio-image {
  display:flex;
  flex-direction: row;
}

.ourportfolio .header-ourportfolio {
display: flex;
flex-direction: row;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-transform: capitalize;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 72px;
margin-left: 455px;
justify-content:center;
width: 219px;
height: 40px;
text-align: center;
flex-wrap: nowrap;

}

.ourportfolio .our-portfolio-li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourportfolio .section-two-paragraph {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.ourportfolio .header-third {
  margin-bottom: 8px;
}

footer {
display: flex;
flex-direction: column;
background-color: #2E2F42;
color: #F4F4FD;
gap: 0px;
padding: 100px 0px;

}

.footer .lastsixletters {
color: #F4F4FD;
} 

.footer .footerp {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.class-header {
display: flex;
flex-direction: row;
background-color: #FFFFFF;
border-color: #E7E9FC;
margin-top: 0px;
margin-bottom: 0px;
border-bottom: 1px solid #e7e9fc;
height: 72px;

}

header .container {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  width: 1158px; 
  margin: 0 auto;
  justify-content: space-around;
}


.header-nav {
display: flex;
align-items: center;
gap: 40px;

}


footer .logotype {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4D5AE5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  }


.ul-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.a-one {
  display: flex;
  flex-direction: row;
  width: 153px;
  height: 24px; 
  margin-left: 332px;
  gap: 40px;
  margin-right: 40px;
  }
  
  .a-two {
    display: flex;
    flex-direction: row;
    width: 151px;
    height: 24px;
    gap: 0px;
    margin-right: 0px;
 
    }

.ourteam .social-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  flex-shrink: 1;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;

}

.ourteam .social-links:hover {
  background-color: #404BBF;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

footer .social-links-li-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
  gap: 16px;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
}

footer .social-links-li-footer:hover {
  background-color: #31D0AA;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}


footer .social-links-footer {
  display: flex;
  flex-direction: column;


}

.social-links-ul {
  display: flex;
  gap: 24px;
}

.social-links-ul-footer {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  
}

.footer-social-p {
  display: flex;
  flex-wrap: nowrap;
  width: 96px;
}



footer .container {
  display: flex;
  gap: 120px;

  }

  .footer-div-one {
    width: 264px;
    height: 112px;
  }
